// Include any default variable overrides here (though functions won't be available)
$primary: #202c39ff;
$secondary: #f2d492ff;
$tertiary: #c3d898;
//$tertiary: #b8b08dff;

//$primary: #011936ff;
//$secondary: #f4fffdff;
//$tertiary: #ed254eff;

//$primary: #e7ebc5ff;
//$secondary: #cdc7e5ff;
//$tertiary: #17301cff;

// Include all of bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// change <body> colors
body {
  color: $primary;
  background-color: $secondary
}

//change nav bar text color
.navbar {
  --bs-navbar-color: $secondary
}

//change navbar hover colors
.navbar-nav .nav-link:hover {
  color: $secondary;
  background-color: $primary;

}

.table td {
  color: $primary;
  background-color: $tertiary;
  border-color: $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
}

.table td:hover {
  color: $secondary;
  background-color: $primary;
}

.table th {
  color: $secondary;
  background-color: $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
}

.table th:hover {
  color: $primary;
  background-color: $tertiary;
}


// Change accordion theming
.accordion-item {
  border-color: $primary;
}

.accordion-button:where(.collapsed) {
  color: $primary;
  background-color: $secondary;
}

.accordion-button:not(.collapsed) {
  color: $secondary;
  background-color: $primary;
}

.accordion-body:where(.collapsed) {
  color: $primary;
  background-color: $secondary;
}

.accordion-body:not(.collapsed) {
  color: $primary;
  background-color: $tertiary;
}

// card theming
.card {
  color: $primary;
  background-color: $tertiary;
  padding: 10px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.card-title {
  color: $primary;
  background-color: $tertiary;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.app-container {
  padding: 20px;
  border-radius: 5px; /* Optional: Adds rounded corners */
}