django/mysite/.env
AWSCommands.txt
.env
**/__pycache__/

venv/
.venv/
env/
.env/

*.log
deploy.sh
machineLearning/yelp_dataset
machineLearning/fred
django/restaurants/yelp_dataset

react-app/node_modules
react-app/dist
.env.*
react-app/coverage
react-app/.sass-cache

machineLearning/huggingFace.txt

django/chatbot/secret.txt

awscliv2.zip
aws/

kubernetes/

nginx/static/admin/
django/static/admin/
nginx/dist/
