django/mysite/.env
AWSCommands.txt
.env
**/__pycache__/

venv/
.venv/
env/
.env/

*.log
deploy.sh
django/restaurants/yelp_dataset

react-app/node_modules
react-app/dist
.env.*
react-app/coverage
react-app/.sass-cache


django/chatbot/secret.txt

awscliv2.zip
aws/

kubernetes/

nginx/static/admin/
django/static/admin/
nginx/dist/

springboot/data/

llm/llama.cpp/
llm/stable-diffusion.cpp/
llm/models/
llm/output/
llm/input/

llm/machineLearning/yelp_dataset
llm/machineLearning/fred
llm/machineLearning/huggingFace.txt