# The Django Framework
Django==4.1.7
# Security for communication with the react frontend
django-cors-headers==4.2.0
# API library
djangorestframework==3.14.0
# User authentication using tokens
djangorestframework-simplejwt==5.3.0
# Gunicorn HTTP server
gunicorn==21.2.0
# PostgreSQL to Python library
psycopg2==2.9.9