# The Django Framework
Django==5.2.15
# Security for communication with the react frontend
django-cors-headers==4.9.0
# API library
djangorestframework==3.17.1
# User authentication using tokens
djangorestframework-simplejwt==5.5.1
# Gunicorn HTTP server
gunicorn==21.2.0
# PostgreSQL to Python library
psycopg2-binary==2.9.12
# Environment Variables
django-environ==0.14.0
# Async and scheduled tasks
celery==5.6.3
# celery task scheduler helper
django-celery-beat==2.9.0
# celery save results with django
django-celery-results==2.6.0
# HTTP requests from python
requests==2.34.2
# Filtering querysets, used in views
django-filter==24.2
# History
django-simple-history==3.12.0
# YFinance API
yfinance==1.5.1
# Redis library for Celery and Django
redis==8.0.1
# PyTorch for machine learning
# torch==2.0.1 
# pandas for numerical computations
pandas==3.0.3
numpy==2.5.0
google-generativeai==0.8.6
django-redis==7.0.0
pandas-market-calendars==5.4.0